@import url("https://fonts.cdnfonts.com/css/vonique-92");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #6861e2 #1c4069;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 200vh;
  font-family: "Roboto", sans-serif;
}

.landing {
  position: relative;
}

main {
  height: 75vh;
  background: #1c4069;
  display: flex;
  color: rgb(226, 226, 226);
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

main::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -60px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
}

.slider {
  background-color: #6861e2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.text {
  text-transform: capitalize;
}

.text > .hide {
  overflow: hidden;
}

.hide > span {
  transform: translateY(100%);
  display: inline-block;
}

.text > h2 {
  margin-top: 0.5rem;
}

svg {
  max-width: 100%;
  height: auto;
}

/* #94bbe9, #eeaeca */

#Logo > a {
  font-family: "Vonique 92", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 0.75rem;
}

.burger > div {
  height: 3px;
  width: 25px;
  background-color: #6861e2;
  margin: 5px;
}

ul {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.goUp {
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #6861e2;
  color: rgb(243, 243, 243);
  width: max-content;
  position: fixed;
  bottom: 2%;
  right: -10%;
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 90000;
}
.goUp:active {
  transform: scale(0.8);
}
.goUp.show {
  right: 1%;
}

/* styling about me section*/

#aboutMe {
  display: block;
  width: max-content;
  margin: 10rem auto;
  text-align: center;
  opacity: 0;
  transition: opacity 0.75s ease-out;
}

#aboutMe.show {
  opacity: 1;
}

#aboutMe > h1 {
  margin-bottom: 1rem;
}

#aboutMe > h5 {
  margin: 0.75rem 0;
  font-weight: 500;
  width: 50vw;
  line-height: 1.2rem;
}

.img > img {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

h4 {
  margin: 0.75rem 0rem;
}

.aboutMeDescription {
  text-transform: capitalize;
}

/* styling technical skills section*/

#techSkills {
  min-height: 40vh;
  background-color: rgb(235, 235, 235);
}
.tech_title {
  text-align: center;
  padding: 1rem;
}
.tech_parent {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
  transform: translateY(-500);
}

.card {
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.5s ease-out;
}

i {
  transition: color 0.5s ease;
}

.card:hover {
  transform: scale(1.2);
}

.card:hover > .fa-html5 {
  color: #fd7e14;
}

.card:hover > .fa-css3-alt {
  color: #4c6ef5;
}

.card:hover > .fa-js {
  color: #f0db4f;
}
.card:hover > .fa-angular {
  color: #b52e31;
}

.card:hover > .fa-sass {
  color: #c69;
}

#projects {
  min-height: 70vh;
}

#projects > h1 {
  text-align: center;
  margin: 1rem 0;
  color: #1c4069;
}

.cards_parent {
  min-height: 8vh;
  background-color: #1c4069;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: rgb(226, 226, 226);
  justify-content: center;
  width: 100%;
}

.p_card {
  border: 2px solid rgb(226, 226, 226);
  min-width: 1vw;
  text-align: center;
  margin: 1rem;
  position: relative;
  padding: 1rem;
  border-radius: 5px;
  min-height: 1vh;
}

.p_card > img {
  width: 100vw;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pname {
  text-transform: capitalize;
  margin-top: 0.5rem;
  font-weight: bold;
}

.buttons {
  width: 100%;
  background-color: #6861e2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  border-radius: 5px;
  flex-wrap: wrap;
  z-index: 10000;
}

.buttons:hover {
  opacity: 1;
}

.buttons > a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(247, 247, 247);
  border-radius: 5px;
  border: 2px solid black;
  padding: 1rem;
  background-color: #1c4069;
}

footer {
  min-height: 50vh;
  background-color: #6861e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.copyright {
  font-weight: bold;
}

.contact {
  padding: 1rem;
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact > div > a {
  text-decoration: none;
  color: #000;
}
.contact > div {
  margin: 0.5rem;
}
.contact > div > a > i {
  margin-right: 0.2rem;
}

footer > p {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

@media all and (max-width: 1024px) {
  nav > ul {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  .hide > span {
    margin-left: 0.5rem;
    font-size: 70%;
    line-height: 1.8rem;
  }

  nav > ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #6861e2;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }

  nav > ul > li > a {
    opacity: 0;
    color: rgb(226, 226, 226);
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .active {
    transform: translateX(0);
  }
  .burger {
    display: block;
  }

  .cards_parent {
    grid-template-columns: 1fr;
  }
  .p_card {
    width: 50%;
    display: block;
    margin: 1rem auto;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .contact > div > a > i {
    margin: 0.5rem auto;
    width: max-content;
    display: block;
  }

  .goUp.show {
    display: none !important;
  }

  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
}
